/* Navbar Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Transparan dengan opacity 60% */
  color: white;
  z-index: 1000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px); /* Blur efek di belakang navbar */
}

/* Logo */
.navbarLogo {
  display: flex;
  align-items: center;
  margin-left: 75px;
}

.navbarLogo img {
  width: 40px;
  height: 40px;
}

/* Navbar Links */
.navbarLinks {
  display: flex;
  list-style: none;
  gap: 20px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.4); /* Transparan khusus menu */
}

.navbarLinks li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbarLinks li a:hover {
  color: #d1b3ff;
}

/* Join Button */
.joinBtn {
  background-color: rgb(124, 44, 253); /* Transparan warna ungu */
  color: white;
  padding: 8px 15px;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  /* Hapus margin-right */
}

.buttonwrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px; /* Ruang antara tombol dan garis luar */
  background: transparent; /* Latar belakang transparan */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Garis luar tipis */
  border-radius: 16px; /* Sudut melengkung untuk garis luar */
  margin-right: 75px; /* Margin hanya untuk wrapper */
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: white;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  .navbarLinks {
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.97); /* Transparan di mobile */
    position: absolute;
    top: 68px;
    right: 20px;
    width: 200px;
    border-radius: 8px;
    padding: 10px 10px;
    border: 1px solid white;
  }

  .navbarLinks.mobileActive {
    display: flex;
  }

  .rightMenu {
    display: flex;
    align-items: center;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    margin-right: 20px;
  }

  .hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
  }
}
